name: Build Wii Homebrew

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install devkitPro
        run: |
          sudo apt update
          sudo apt install -y wget gnupg
          wget https://apt.devkitpro.org/install-devkitpro-pacman
          chmod +x install-devkitpro-pacman
          sudo ./install-devkitpro-pacman
          sudo dkp-pacman -Syu --noconfirm
          sudo dkp-pacman -S --noconfirm devkitPPC libogc wii-dev

      - name: Build
        run: |
          export DEVKITPRO=/opt/devkitpro
          export DEVKITPPC=/opt/devkitpro/devkitPPC
          make

      - name: Upload boot.dol
        uses: actions/upload-artifact@v4
        with:
          name: FoxWIIterm
          path: FoxWIIterm.dol
